In [1]:
import pandas as pd
import csv




df = pd.read_csv("UberDataset.csv", dtype=str)

In [2]:
df = df[~df['START_DATE'].str.contains("Total", na=False)]

In [3]:
df['START_DATE'] = pd.to_datetime(df['START_DATE'], errors='coerce')
df['END_DATE'] = pd.to_datetime(df['END_DATE'], errors='coerce')

In [4]:


df['START_DATE'].dtype

dtype('<M8[ns]')

In [5]:
df['END_DATE'].dtype

dtype('<M8[ns]')

In [6]:
df['hour'] = df['START_DATE'].dt.hour
df['weekday'] = df['START_DATE'].dt.day_name()
df['month'] = df['START_DATE'].dt.month_name()
df['date'] = df['START_DATE'].dt.date

In [7]:
df[['START_DATE', 'hour', 'weekday', 'month']].head()

           START_DATE  hour    weekday    month
0 2016-01-01 21:11:00  21.0     Friday  January
1 2016-01-02 01:25:00   1.0   Saturday  January
2 2016-01-02 20:25:00  20.0   Saturday  January
3 2016-01-05 17:31:00  17.0    Tuesday  January
4 2016-01-06 14:42:00  14.0  Wednesday  January