In [3]:
import pandas as pd
import csv




df = pd.read_csv("UberDataset.csv", encoding="latin1")

In [4]:
df.tail(20)

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
1136,12/29/2016 13:17,12/29/2016 13:24,Business,Kar?chi,Kar?chi,1.1,Errand/Supplies
1137,12/29/2016 13:56,12/29/2016 14:11,Business,Kar?chi,Kar?chi,4.1,Airport/Travel
1138,12/29/2016 14:42,12/29/2016 14:58,Business,Kar?chi,Kar?chi,6.1,Between Offices
1139,12/29/2016 15:05,12/29/2016 15:16,Business,Kar?chi,Kar?chi,1.3,Errand/Supplies
1140,12/29/2016 18:59,12/29/2016 19:14,Business,Kar?chi,Unknown Location,3.0,Meal/Entertain
1141,12/29/2016 19:50,12/29/2016 20:10,Business,Unknown Location,Kar?chi,4.1,Customer Visit
1142,12/29/2016 20:15,12/29/2016 20:45,Business,Kar?chi,Kar?chi,7.2,Meeting
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4,NaN
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9,Meeting
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Kar?chi,Kar?chi,2.8,Errand/Supplies
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
1136,NaT,NaT,Business,Kar?chi,Kar?chi,1.1,Errand/Supplies
1137,NaT,NaT,Business,Kar?chi,Kar?chi,4.1,Airport/Travel
1138,NaT,NaT,Business,Kar?chi,Kar?chi,6.1,Between Offices
1139,NaT,NaT,Business,Kar?chi,Kar?chi,1.3,Errand/Supplies
1140,NaT,NaT,Business,Kar?chi,Unknown Location,3.0,Meal/Entertain
1141,NaT,NaT,Business,Unknown Location,Kar?chi,4.1,Customer Visit
1142,NaT,NaT,Business,Kar?chi,Kar?chi,7.2,Meeting
1143,NaT,NaT,Business,Kar?chi,Unknown Location,6.4,NaN
1144,NaT,NaT,Business,Unknown Location,Kar?chi,12.9,Meeting
1145,NaT,NaT,Business,Kar?chi,Kar?chi,2.8,Errand/Supplies
1146,NaT,NaT,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies
1147,NaT,NaT,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,NaT,NaT,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,NaT,NaT,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,NaT,NaT,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,NaT,NaT,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,NaT,NaT,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,NaT,NaT,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,NaT,NaT,Business,Gampaha,Ilukwatta,48.2,Temporary Site